# iris-task1

Use the "Run" button to execute the code.

In [1]:
!pip install jovian --upgrade --quiet

In [2]:
import jovian

In [21]:
# Execute this to save new versions of the notebook
jovian.commit(project="iris-task1")

[jovian] Updating notebook "vaishnavijadhav142002/iris-task1" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/vaishnavijadhav142002/iris-task1

'https://jovian.ai/vaishnavijadhav142002/iris-task1'

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [4]:
df=pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

In [6]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [7]:
df.columns=['x0','x1','x2','x3','types']

In [8]:
df.head()

    x0   x1   x2   x3        types
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [9]:
X=df[['x0','x1','x2','x3']]
Y=df['types']

In [12]:
X.shape

(149, 4)

In [15]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=42)

In [16]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((104, 4), (45, 4), (104,), (45,))

In [18]:
#logistic regression

model_kn=KNeighborsClassifier(9)
model_kn.fit(X_train,Y_train)

KNeighborsClassifier(n_neighbors=9)

In [20]:
print('Train Data : - ',model_kn.score(X_train,Y_train),'\nTest Data : - ',model_kn.score(X_test,Y_test))

Train Data : -  0.9903846153846154
Test Data : -  0.9111111111111111

/opt/conda/lib/python3.9/site-packages/sklearn/base.py:441: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
/opt/conda/lib/python3.9/site-packages/sklearn/base.py:441: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [ ]:
jovian.commit(project="iris-task1")